body {
    background-color: #50136c;
}

#palavras_cruzadas{
    border: 1px solid blue;
    text-align: center;
    border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.formulario{
        border: none;
        text-align: center;
        border-collapse: collapse;
		width: 50px;
        height:50px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: yellow;
}

td {
    border: 5px solid rgb(0, 0, 0);
}
h1{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

h3{
    text-align: center;
}

#fundo_jogo {
    float: left;
   margin: 10px;
}

.escrita {
    text-align: left;
    padding-left: 10px;
    width: 300px;
    height: auto;
    float: left;
    margin: auto;
    color: yellow;
}

.botao{
    margin: 10px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: #50136c;
    border: solid 1px;
    border-color: yellow;
}

.trasition_background {
    transition: background-color 1s;
}

.trasition_background:hover {
    background-color: yellow;
}

.footer {
    text-align: center;
    padding: 40px 0;
    border-top: 3px solid #50136c;
}

.footer {
    width: 100%;
    background-color: #50136c;
    color: #000000;
}

.footer h4 {
    margin: 0;
}

.footer .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.logo_menor {
    display: none;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 80px;
    height: 70px;
}

.logo {
    display: flex;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    left: 20px;
    width: 40%;
    flex-direction: column;
    color: yellow;
}

.mensagem {
    display: none;
    margin: auto;
    position: absolute; 
    font-size: 15px;
    flex-direction: column;
    margin-left: 500px;
    margin-top: 20px;
}

.box_icone {
    display: none;
    margin: auto;
    position: relative;
    width: 2%;
    height: 2%;
    margin-top: 150px;
    left: -10px;
}

.icone {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    border: solid 5px;
    border-color: #000000;
    border-radius: 10px;
}

.redirecionar {
    display: none;
    margin: auto;
    position: relative;
    margin-left: 713px;
    margin-top: 20px;
}

.transitar {
    display: flex;
    margin: auto;
    position: absolute;
    margin-top: -60px;
}

.button {
    display: flex;
    margin: auto;
    background-color: transparent;
    color: yellow;
    font-size: 30px;
}
