#palavras_cruzadas{
    border: 1px solid blue;
    text-align: center;
    border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.formulario{
        border: none;
        text-align: center;
        border-collapse: collapse;
		width: 50px;
        height:50px;
        text-transform: uppercase;
        font-weight: 700;
}

td {
    border: 5px solid rgb(0, 0, 0);
}
h1{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

h3{
    text-align: center;
}

#fundo_jogo {
    float: left;
   margin: 10px;
}

.escrita {
    text-align: left;
    padding-left: 10px;
    width: 300px;
    height: auto;
    float: left;
    margin: auto;
}

.botao{
    margin: 10px;
    width: 150px;
    height: 30px;
}

.footer {
    text-align: center;
    padding: 40px 0;
    border-top: 3px solid #ffffff;
}

.footer {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
}

.footer h4 {
    margin: 0;
}

.footer .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

